@import url("theme.css");

.wy-side-nav-search {
  background-color: #ff9016;
}

.wy-nav-side {
  background: #2B2B2B;
}

.wy-menu-vertical a:active {
  background-color: #ff9016;
}

a {
  color: #ff9016;
}

.wy-nav-top {
  background-color: #ff9016;
}
